@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.ts-emoji {
  position: relative;
}

.ts-emoji:not(:empty)::after {
  content: 'TS';
  position: absolute;
  bottom: 1px;
  color: white;
  right: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 0.7rem;
}

@layer base {
  h1 {
    @apply text-5xl font-bold
  }

  h2 {
    @apply text-4xl
  }

  h3 {
    @apply text-3xl
  }

  h4 {
    @apply text-2xl
  }

  h5 {
    @apply text-xl
  }

  h6 {
    @apply text-base
  }
  
  a, .prose a {
    @apply text-rose-300
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #14b8a6 #0f172a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px
  }

  *::-webkit-scrollbar-track {
    background: #0f172a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #14b8a6;
    border-radius: 4px;
    border: 0px none #ffffff;
  }

pre {
  padding: 0 !important;
  font-family: 'Fira Code';
}